.container {
  width: 100%;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(-45deg, rgb(231, 72, 72), rgb(82, 228, 82), rgb(241, 95, 175), rgb(241, 241, 95));
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 15s ease infinite;
}
.app {
  text-align: center;   
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 30px auto;
  align-items: center;
  justify-content: center;    
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
}

.status {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.2);
  background: transparent;
  background: #3a4452;
  color: #fff;
}

button:focus {
  outline: none;
}

@keyframes animate{
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}